.box-2{
    display:flex;
    flex-direction: column;
    height:80px;
    background-color: white;
    border-radius: 10px;
    border: 1px solid gray;
}
.slide{
    overflow-x:hidden; 
    overflow-y:auto; 
}
.calendar{
    display: flex;
    align-items: center;
}
.today{
    display: flex;
    margin-left:20px;
    margin-top:20px;
    margin-bottom:20px;
    font-weight: bold;
    flex-direction: column;
    font-family: 'Cafe24Dangdanghae';
    font-size:20px;
    color:#4f85a7;
    
}
.date{
    display: flex;
    flex: 1;
    font-weight: bold;
    font-family: 'Cafe24Dangdanghae';
    color:gray;
    margin:10px;
    flex-wrap: wrap;
    align-items: center;
    

    
}
.day {
    margin-top:10px;
    flex:0 0 1.7em;
    text-align: center;
}

  
.blue{color:blue;}
.red{color:red;}
.diary_box{
    margin: 0 auto;
    font-family: 'Cafe24Dangdanghae';
    margin-bottom: 2rem;
    border:1px solid grey;
    margin:10px;
}
.day-time{
    margin-left:20px;
    margin-top:30px;
    font-weight:bold;
    font-family: 'Cafe24Dangdanghae';
    color:#4f85a7;
}
.content{
    text-align: center;
    font-family: 'Y_Spotlight';
    line-height:1.7;
    margin: 5px;
}
button{
    color:white;
    background-color: white;
    border:none;
    width:230px;
    height:100px;
    margin: 20 auto;
    font-size:20px;
}
button:hover{
    color:white;
    background-color: mediumaquamarine;
    border:none;    
    width:230px;
    height:100px;
    margin: 20 auto;
    font-size:20px;
}
.diary-text {
    text-align: center;
    font-family: 'Cafe24Dangdanghae';    
  }
.diary-box{
    border:1px solid grey;
    padding-bottom:30px;
    margin:10px;
    margin-bottom: 2rem;
}
#secret-box {
    display: none;
  }